<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form action="" (ngSubmit)="onChangePassword(f)" #f="ngForm">
      <ion-item mode="ios">
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" ngModel="" name="password1"
                   #password1="ngModel" required></ion-input>
      </ion-item>
      <ion-item mode="ios">
        <ion-label position="floating">Confirm</ion-label>
        <ion-input type="password" ngModel=""  name="password2" #password2="ngModel" required></ion-input>
      </ion-item>
      <div class="ion-padding-start ion-padding-end">
        <ion-button
                [disabled]="!f.valid || password1.value !== password2.value"
                type="submit"
                size="full" mode="ios">Change Password</ion-button>
      </div>
    </form>
  </div>

</ion-content>
